.content{
    background-color: #AA06010D;

    .content_1{
        ul{      
            display: flex;
            justify-content: space-between;
            li{
                padding-right: 100px;            
                h3{
                    color: $second;
                    font-size: 24px;
                    padding: 20px 0px;   
                }
                p{
                    text-align: left;
                    padding-bottom: 80px;
                }
            }
            .c_1_4{
                padding-right: 0px;
                img{
                    padding-top: 20px;
                }
            }
        }
    }
    .content_2{      
        ul{
            display: block; 
                   
        }
        li{
            font-size: 48px;
            font-weight: 500;
            font-style: italic;
            display: flex;
            align-items: center;
            padding: 0 0 30px 0;
            
            img{
                width: 70%;
            }
            a{
                display: flex;
                align-items: center;
                text-decoration: none;
                color: $primary;
                padding-left: 20px;
            }
        }
        li:nth-child(2){                  
            display: flex;                
            flex-direction: row-reverse;
            img{
                padding-left: 20px;
                
            }
        } 


    }

    }

    .container{
        text-align: center;           
        h2{
            font-size: 48px;
            color: $second;
            padding: 50px 0 30px 0px;
        }
    }
    
.content3{
    background-image: url(../images/bg.png);
    background-size: cover;
    background-position: top;  

}

.c_3_c{
    font-size: 48px;
    color: white;
    padding: 50px 0 ;   
}

.c_3_0{      
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

.c_3_1, .c_3_2{
    background: white;
   
}   

.c_3_1{
    margin-right: 40px;
}

}
.c_3_1_2{
    background-image:url(../images/product-8.png);
    background-size: cover;
    width: 330px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    opacity: 0.5;
}

.c_3_2_2{
    background-image:url(../images/product-9.png);
    background-size: cover;
    width: 330px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    opacity: 0.5;
}

.c_3_1_2:hover{
    opacity: 1;

}
.c_3_2_2:hover{
    opacity: 1;

}


  

.c_4_0{
    display: flex;  
    justify-content: space-between;
    font-size: 16px;
    
      
}

.c_4_1, .c_4_4{   
    margin-right: 20px;
    img{
        width: 100%;
        height: auto;
        display: block;
    } 
}

.c_4_4{
    margin-right: 0;

}

.c_4{
    padding: 20px;
    border: 1px solid rgb(207, 205, 205);
    border-top:0px ;
    text-align: left;
    h4{
        margin-bottom: 20px;
    }
    p{
        line-height: 24px;
    }
}

.c_4_5{
    margin-top: 20px;
    color: gray;

}

.content_5{
    
    display: flex;
    justify-content: center;
    
}

.c_5_1{
    max-width: 730px;
    h2{
        color: black;
    }

}
.c_5_2{
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    text-justify:inter-ideograph;
}
form{
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
    
}

#name_1{   
    font-size: 20px;
    color: gray;
    width: 100%;
    height: 50px;
    background-color: transparent;
    padding-left: 10px;
    margin: 10px 0 30px 0;

}

#name_2{
    font-size: 20px;
    color: gray;
    width: 100%;
    height: 130px;
    background-color: transparent;
    padding-left: 10px;
    margin: 10px 0 30px 0;
}

#name_3{
    background-color: $primary;
    color: white;
    font-size: 16px;
    padding: 10px 60px;
    margin: 30px 0 80px 0;
}

#name_3:hover{
    background-color: $second;

}

#name_2_1{
    width: 24px;
    height: 24px;
    
}


    @media (max-width:768px){
        .content{
            ul{
                flex-wrap: wrap;
                width: 100%;
                
                li{
                    padding: 0 50px;
                    width: 50%;
                }
                .c_4{
                    padding-right: 50px;
                }
    
                
            .content_2{
                ul{
                    li{
                        font-size: 28px;
                        width: 100%;
                        
                    }
                }
            
            }
            
            .content .content_0{
                .content2{
                    li:nth-child(2){
                        flex-direction: row;
                        img{
                            padding-left: 0;
                        }
                    }                        
                }  
            }
        }
        .c_3_1{
            margin-right: 0;
            margin-bottom: 30px;
            padding: 0px;          
        }

        .c_3_2{
            padding: 0;
                    
        }

        .c_3_0{
            flex-direction: column;
            align-items: center;
            
        }

        .c_3_1_2, .c_3_2_2{
            width: 100%;
        }

        .c_4_1, .c_4_4{   
            margin-right: 10px;
            padding: 0;
            width: 48%;
        }

        .c_4_2{
            margin-right: 0;
        }
        

        }


            
    


    @media(max-width:375px){
        .content{
            .container{
                

                h2{
                    font-size: 24px;
                }
                ul{
                    display: block;
                    li{
                        width: 100%;
                        padding: 0 30px;
                        


                    }
                }
                
                
            }



        }

        
    }
    
}