*, :before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.nav {
  background-color: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav a {
  padding: 30px 30px;
  display: block;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  background-color: #650300;
}

.banner {
  background-image: url(../images/banner.png);
  background-size: cover;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #650300;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container h1 {
  font-size: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container span {
  font-size: 36px;
  line-height: 54px;
}

.banner_1 {
  margin-right: 10%;
}

.footer {
  background-color: #AA0601;
  padding: 30px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid pink;
}

.footer_nav ul a {
  text-decoration: none;
  padding-right: 20px;
  color: white;
}

.footer_nav .nav1 {
  margin-bottom: 20px;
}

.footer_info ul {
  display: block;
  font-size: 20px;
  color: white;
}

.footer_info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.footer_bottom ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid white;
  padding-top: 20px;
}

.footer_bottom ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.footer_bottom ul li a {
  padding-left: 20px;
  text-decoration: none;
  color: white;
}

.footer_bottom ul li img {
  padding-right: 30px;
}

@media (max-width: 768px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
  }
  .nav img {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .nav ul {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nav ul li {
    width: 50%;
    border: 1px solid white;
    text-align: center;
  }
  .nav ul a {
    padding: 20px;
  }
  .banner h1 {
    font-size: 48px;
  }
  .banner span {
    font-size: 20px;
  }
  .banner .footer_nav .nav1 {
    display: none;
  }
  .banner .footer_bottom ul li img {
    display: none;
  }
}

@media (max-width: 375px) {
  .banner h1 {
    font-size: 30px;
  }
  .banner span {
    font-size: 16px;
  }
  .footer_nav .nav1 {
    display: none;
  }
  .footer_bottom ul li img {
    display: none;
  }
}
/*# sourceMappingURL=all.css.map */